# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dist
node_modules
dist
dist-ssr
wps-addon-build
wps-addon-publish
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# python
__pycache__
data/
*.db
*.pyc
*.pyo
*.pyd
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
build/
dist/
*.spec.backup
*.manifest
*.exe.config

# Packaging
package/
*.deb
*.AppImage
*.rpm
*.tar.gz
*.zip

# uv
.venv/

# ruff
.ruff_cache/

# 环境变量
.env
.env.local
.env.*.local

.~*.docx